<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 We offer a cloud based solution to systematically record, store, update, manage school / college records. This will help the school authorities to analyse information about their school so they have reliable and relevant information to make decisions
</p>

