<div class="container">
<div class="navbar">

<div class="hero-unit">
    <h2>Welcome to easymanage</h2>
 
    <p>One stop solution for managing your institute records better. We offer a comprehensive cloud based solution which is easy to use and secure.  </p>
 
    <a href="#" class="btn btn-large btn-success">Get Started</a>
 </div>

<div class="row">
<div class="span4">
        <h4 class="muted text-center">Meet Our Clients</h4>
        <p>India (Listeni/ˈɪndiə/), officially the Republic of India (Bharat Ganrajya),[13][c] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country with over 1.2 billion people, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the south-west, and the Bay of Bengal on the south-east, it shares land borders with Pakistan to the west;[d] China, Nepal, and Bhutan to the north-east; and Burma and Bangladesh to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; in addition, India's Andaman and Nicobar Islands share a maritime border with Thailand and Indonesia. </p>
        <a href="#" class="btn"><i class="icon-user"></i> Our Clients</a>
    </div>
    <div class="span4">
        <h4 class="muted text-center">Know Our Employees</h4>
        <p>India (Listeni/ˈɪndiə/), officially the Republic of India (Bharat Ganrajya),[13][c] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country with over 1.2 billion people, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the south-west, and the Bay of Bengal on the south-east, it shares land borders with Pakistan to the west;[d] China, Nepal, and Bhutan to the north-east; and Burma and Bangladesh to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; in addition, India's Andaman and Nicobar Islands share a maritime border with Thailand and Indonesia.</p>
        <a href="#" class="btn btn-success"><i class="icon-star icon-white"></i> Our Employees</a>
    </div>
    <div class="span4">
        <h4 class="muted text-center">Reach Us</h4>
        <p>India (Listeni/ˈɪndiə/), officially the Republic of India (Bharat Ganrajya),[13][c] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country with over 1.2 billion people, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the south-west, and the Bay of Bengal on the south-east, it shares land borders with Pakistan to the west;[d] China, Nepal, and Bhutan to the north-east; and Burma and Bangladesh to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; in addition, India's Andaman and Nicobar Islands share a maritime border with Thailand and Indonesia.</p>
        <a href="#" class="btn btn-info">Contact Us</a>
    </div>
</div>
<hr>
<div class="footer">
<p>&copy; All rights reserved with easymanage.in</p>
</div>
</div>
