 <div class="center hero-unit">
  <h1>Welcome to easymanage</h1>
  <h2>
    Manage your school records better with our
    <a href="http://www.google.com">cloud based</a>
    solution
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
   </div>

<%= link_to image_tag("images.jpeg", alt: "Rails"), 'http://www.google.com' %>
